:root {
  --color-def: #ffffff;
  --color-logo-text: #173A56;
  --color-text: #22343D;
  --color-hover-link: #02897A;
  --color-burger-menu: #173A56;
  --background-default-btn: #02897A;
  --background-fon: #f3f3f3;
  --background-fon-secondary: #EDFFFC;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Poppins", "Raleway", sans-serif;
  color: var(--color-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
}

.section {
  padding-top: 100px;
}

.visibility-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  line-height: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 411px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1150px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.logo-icon {
  margin-right: 16px;
}

.logo__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.9333333333;
  color: var(--color-logo-text);
}

.navigation {
  margin-right: 24px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__menu {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.item__link {
  position: relative;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-text);
  padding-top: 22px;
  padding-bottom: 22px;
  transition: color var(--transition);
}
.item__link.active {
  font-weight: 600;
}
.item__link:hover, .item__link:focus {
  color: var(--color-hover-link);
}
.item__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 4px;
  background-color: var(--color-hover-link);
  border-radius: 4px;
  transition: transform var(--transition);
}
@media screen and (max-width: 767px) {
  .item__link {
    font-size: 26px;
    letter-spacing: 0.04px;
  }
  .item__link::after {
    transform: translate(-100%);
    width: 45%;
  }
  .item__link:hover::after, .item__link:focus::after {
    transform: translate(0);
  }
}
@media screen and (min-width: 768px) {
  .item__link::after {
    transform: scaleX(0);
    width: 100%;
  }
  .item__link:hover::after, .item__link:focus::after {
    transform: scale(1);
  }
}

.general-btn {
  border-radius: 4px;
  background-color: var(--background-default-btn);
  color: var(--color-def);
}
.general-btn:hover, .general-btn:focus {
  background-color: var(--color-def);
  color: var(--color-text);
}

@media screen and (max-width: 767px) {
  .header__list-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list-button {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-button {
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .list-button__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.item__btn {
  padding: 9px 23px;
  transition: border-color var(--transition), background-color var(--transition), color var(--transition);
}
.item__btn.secondary-btn {
  background-color: transparent;
  border-color: #bcd0e5;
  border-radius: 4px;
}
.item__btn.secondary-btn:hover, .item__btn.secondary-btn:focus {
  background-color: var(--background-default-btn);
  color: var(--color-def);
}
.item__btn:hover, .item__btn:focus {
  border-color: var(--background-default-btn);
}

.them-btn {
  display: flex;
  align-items: center;
  border: none;
  background: var(--background-fon);
  padding: 4px;
  border-radius: 100px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--background-fon-secondary);
  border-radius: 100px;
}

.social-icon {
  fill: transparent;
  stroke: var(--color-hover-link);
  transition: fill var(--transition), stroke var(--transition);
}

.header .social-icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .header {
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }
}

.header-wrapp {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-wrapp {
    justify-content: space-between;
  }
}

.menu-open-btn-icon {
  stroke: var(--color-burger-menu);
}

.js-open-menu {
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-def);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .close-btn.js-close-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 31px;
    height: 31px;
    background: var(--background-fon);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background var(--transition);
  }
  .close-btn.js-close-menu:hover,
  .close-btn.js-close-menu:focus {
    background-color: var(--background-default-btn);
    border: none;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .hero {
    background-position: top 29px center;
    background-size: 338px 310px;
    max-width: 410px;
    padding-top: 350px;
    padding-bottom: 16px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-position: top 25px right 13px;
    background-size: 610px 555px;
    max-width: 1400px;
    padding-top: 137px;
    padding-bottom: 112px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../../images/product-page/hero/mobile/mobile-bg-hero.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/product-page/hero/mobile/mobile-bg-hero@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../images/product-page/hero/hero-img.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/product-page/hero/hero-img@2x.png);
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6666666667;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
    max-width: 400px;
  }
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
}
@media screen and (max-width: 767px) {
  .hero-text {
    margin-bottom: 32px;
    max-width: 328px;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    margin-bottom: 45px;
    max-width: 465px;
  }
}

.hero-btn-tumb {
  display: flex;
  align-items: center;
}

.hero-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: color var(--transition), background var(--transition) border var(--transition);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .hero-btn {
    margin-right: 28px;
    padding-right: 25px;
    padding-left: 25px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .hero-btn {
    margin-right: 30px;
    padding-right: 42px;
    padding-left: 42px;
  }
}
.hero-btn:hover, .hero-btn:focus {
  border-color: #bcd0e5;
}

.custom-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-hover-link);
}
.custom-btn .hero-btn-icon {
  fill: currentColor;
  margin-right: 8px;
}

.for-you {
  background: linear-gradient(360deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
  background-origin: border-box;
}
@media screen and (max-width: 767px) {
  .for-you {
    border-radius: 0% 0% 100% 100%/0% 0% 10% 10%;
  }
}
@media screen and (min-width: 768px) {
  .for-you {
    border-radius: 0% 0% 100% 100%/0% 0% 20% 20%;
  }
}

.for-you-wrapp {
  padding-bottom: 38px;
}
@media screen and (max-width: 767px) {
  .for-you-wrapp {
    text-align: center;
  }
}

.for-you-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .for-you-title {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .for-you-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .for-you-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .for-you-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .for-you-item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .for-you-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .for-you-icon {
    margin-bottom: 18px;
  }
}

.for-you-item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .for-you-item-title {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .for-you-item-title {
    margin-bottom: 13px;
  }
}

.for-you-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (max-width: 767px) {
  .for-you-item-text {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.for-you-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 33px;
  margin-left: auto;
  margin-right: auto;
  transition: border var(--transition), background var(--transition), color var(--transition);
}
.for-you-btn:hover, .for-you-btn:focus {
  border-color: #bcd0e5;
}

@media screen and (max-width: 767px) {
  .services {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .services {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .services-item {
    display: flex;
    align-items: center;
    gap: 84px;
  }
}
.services-item:not(:last-child) {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .services-item-wrapp {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .services-item-wrapp {
    max-width: 486px;
  }
  .services-item:nth-child(odd) .services-item-wrapp {
    order: -1;
  }
}

.item-top-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.services-item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.services-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 30px;
}

.nested-list-item:not(:last-child) {
  margin-bottom: 25px;
}
.nested-list-item.tick {
  display: flex;
  align-items: center;
}

.item-tick-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  margin-right: 30px;
  fill: var(--color-def);
}
.nested-list-item:nth-child(1) .item-tick-icon {
  background: #FF9900;
}
.nested-list-item:nth-child(2) .item-tick-icon {
  background: #F03E3D;
}
.nested-list-item:nth-child(3) .item-tick-icon {
  background: #4D8DFF;
}

.nested-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.nested-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (max-width: 767px) {
  .nested-list-text.tick {
    max-width: 288px;
  }
}
@media screen and (min-width: 768px) {
  .nested-list-text.tick {
    max-width: 386px;
  }
}

.process {
  background: linear-gradient(180deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
  background-origin: border-box;
}
@media screen and (max-width: 767px) {
  .process {
    border-radius: 100% 100% 0% 0%/10% 10% 0% 0%;
  }
}
@media screen and (min-width: 768px) {
  .process {
    border-radius: 100% 100% 0% 0%/20% 20% 0% 0%;
  }
}

.process-wrapp {
  padding-top: 50px;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .process-title {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .process-title {
    margin-bottom: 25px;
  }
}

.process-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .process-text {
    max-width: 338px;
  }
}
@media screen and (min-width: 768px) {
  .process-text {
    max-width: 542px;
  }
}

@media screen and (max-width: 767px) {
  .process-list {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .process-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 100px;
    margin-bottom: 50px;
  }
}

.process-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.process-list-item:nth-child(even) img {
  order: 1;
}
@media screen and (max-width: 767px) {
  .process-list-item {
    gap: 14px;
  }
  .process-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .process-list-item img {
    width: 90px;
    height: 90px;
  }
}
@media screen and (min-width: 768px) {
  .process-list-item {
    gap: 10px;
    width: calc((100% - 100px) / 2);
    max-width: 408px;
    height: 98px;
  }
  .process-list-item img {
    width: 98px;
    height: 98px;
  }
  .process-list-item:last-child, .process-list-item:first-child {
    order: -1;
  }
}

.process-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border-radius: 26.5px;
}
@media screen and (max-width: 767px) {
  .process-item-text {
    padding: 12px 20px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  }
}
@media screen and (min-width: 768px) {
  .process-item-text {
    max-width: 300px;
    padding: 14px 22px;
    box-shadow: 2px 2px 10px rgba(23, 58, 86, 0.15);
  }
}

.process-btn {
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  transition: color var(--transition), background var(--transition), border var(--transition);
}
.process-btn:hover, .process-btn:focus {
  border-color: #bcd0e5;
}

.strategies__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
}

.strategies__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 40px;
}

.card__link {
  color: currentColor;
  transition: color var(--transition);
}

.card__img {
  border-radius: 8px 8px 0 0;
}

.card__text-wrapp {
  padding-top: 24px;
  padding-bottom: 40px;
}

.card__link:hover .card__title {
  color: var(--color-hover-link);
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 12px;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
}

@media screen and (max-width: 767px) {
  .strategies__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .strategies__text {
    text-align: center;
    max-width: 338px;
  }
  .card__text-wrapp {
    padding-right: 54px;
  }
  .strategies__card {
    margin-bottom: 16px;
  }
  .strategies__next-link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .strategies {
    margin-bottom: 10px;
  }
  .strategies__text {
    max-width: 460px;
    margin-top: 8px;
  }
  .strategies__cards {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;
  }
  .strategies__card {
    border: 1px solid #dedede;
    border-radius: 8px;
  }
  .card__text-wrapp {
    padding-left: 24px;
    padding-right: 24px;
  }
  .strategies__next-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .next-link__click {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
  }
  .next-link__click:not(:nth-child(2)) {
    background-color: #EFEFEF;
  }
  .next-link__click:nth-child(2) {
    background-color: var(--background-default-btn);
  }
}
.price-wrapp {
  text-align: center;
}

.price__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
}

.price__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.price-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
  margin-bottom: 8px;
}

.price-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 16px;
}

.price__card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-bottom: 32px;
}
.price__card:nth-child(2) {
  background-color: var(--background-default-btn);
  color: var(--color-def);
}

.price-figure-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.price__card:not(:nth-child(2)) .price-figure-wrapp {
  color: var(--color-hover-link);
}

.price__figure {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.3157894737;
  text-align: center;
  letter-spacing: 0.2px;
  margin-right: 7px;
}

.currency {
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 7px;
}

.sub-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.description-sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.2px;
}

.sub-text-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 11px 18px;
  border-radius: 8px;
  transition: color var(--transition), background var(--transition), border var(--transition);
}
.price-btn:not(:nth-child(2)):is(:hover, :focus) {
  border-color: #bcd0e5;
}
.price-btn.secondary-btn {
  border-radius: 4px;
  background: var(--color-def);
  color: var(--color-hover-link);
}
.price-btn.secondary-btn:is(:hover, :focus) {
  background: var(--background-default-btn);
  border-color: #bcd0e5;
  color: var(--color-def);
}

@media screen and (max-width: 767px) {
  .price__title {
    margin-bottom: 8px;
  }
  .price__text {
    margin-bottom: 74px;
  }
  .price__card {
    padding-top: 24px;
  }
  .price__card:not(:last-child) {
    margin-bottom: 32px;
  }
  .description-sub-text {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .price__title {
    margin-bottom: 10px;
  }
  .price__text {
    margin-bottom: 40px;
  }
  .price__menu {
    display: flex;
    align-items: center;
    gap: 72px;
  }
  .price__card {
    padding-top: 32px;
    width: calc((100% - 144px) / 3);
  }
  .description-sub-text {
    margin-bottom: 30px;
  }
}
.clients-say__tittle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.2px;
  text-align: center;
}

.clients-say__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.2px;
}

.comment__item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
}

.comment__stars-icon {
  margin-bottom: 16px;
}

.comment__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 16px;
  letter-spacing: 0.2px;
}

.comment__user-date {
  display: flex;
  align-items: center;
  gap: 14px;
}

.comment__user-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--color-hover-link);
}

.comment__user-role {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 767px) {
  .clients-say__tittle {
    margin-bottom: 8px;
  }
  .clients-say__text {
    margin-bottom: 32px;
    max-width: 323px;
  }
  .comment__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .clients-say__tittle {
    margin-bottom: 10px;
  }
  .clients-say__text {
    margin-bottom: 38px;
    max-width: 537px;
  }
  .clients-say__comment {
    display: flex;
    align-items: center;
    gap: 64px;
  }
}
.join-wrapp {
  background: var(--background-default-btn);
  border-radius: 32px;
}

.join-title {
  display: block;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: var(--color-def);
}

.join-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-hover-link);
  padding: 10px 34px;
  border-radius: 8px;
  transition: color var(--transition), background var(--transition), border-color var(--transition);
}
.join-btn:is(:hover, :focus) {
  background: var(--background-default-btn);
  border-color: #bcd0e5;
  color: var(--color-def);
}

@media screen and (max-width: 767px) {
  .join-content-box {
    padding: 17px 21px 32px;
    text-align: center;
  }
  .join-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .join-wrapp {
    display: flex;
    align-items: center;
    max-width: 968px;
  }
  .join-wrapp picture {
    flex-grow: 1;
  }
  .join-content-box {
    padding-top: 49px;
    padding-bottom: 56px;
    padding-left: 51px;
  }
  .join-title {
    max-width: 510px;
    margin-bottom: 46px;
  }
}
.footer {
  padding-top: 100px;
}

.resource-title,
.legal-stuff__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.resource__link,
.legal-stuff__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: currentColor;
  transition: color var(--transition);
}
.resource__link:is(:hover, :focus),
.legal-stuff__link:is(:hover, :focus) {
  color: var(--color-hover-link);
}

.form__title {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.input-box {
  position: relative;
}

.input-phone {
  display: block;
  width: 100%;
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition);
}
.input-phone::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-hover-link);
}
.input-phone:focus {
  border-color: var(--background-default-btn);
}

.input-phone__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-hover-link);
  transform: translateY(-50%);
}

.footer-form__btn {
  padding: 8px 15px;
  transition: background var(--transition), color var(--transition), border var(--transition);
}
.footer-form__btn:is(:hover, :focus) {
  color: var(--color-hover-link);
  border-color: #bcd0e5;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 45px;
  }
  .footer__interactive-box {
    margin-bottom: 44px;
    text-align: center;
  }
  .footer__logo-box {
    margin-bottom: 32px;
  }
  .footer__logo-box .logo-link {
    justify-content: center;
    margin-bottom: 24px;
    padding: 0;
  }
  .footer__logo-box .social {
    gap: 16px;
  }
  .footer__resource-box,
  .footer__legal-stuff-box {
    margin-bottom: 32px;
  }
  .form__title {
    text-align: center;
    margin-bottom: 34px;
  }
  .input-phone {
    margin-bottom: 21px;
  }
  .footer-form__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__interactive-box {
    display: flex;
    margin-bottom: 10px;
  }
  .footer__logo-box {
    margin-right: 146px;
  }
  .footer__logo-box .logo-link {
    margin-bottom: 18px;
    padding: 0;
  }
  .footer__logo-box .social {
    gap: 16px;
  }
  .footer__resource-box {
    margin-right: 129px;
  }
  .footer__legal-stuff-box {
    margin-right: 83px;
  }
  .footer__form-box {
    max-width: 325px;
  }
  .form__title {
    margin-bottom: 30px;
  }
  .input-phone {
    margin-bottom: 25px;
  }
}
.client__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
}

.client__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client__link {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .client {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .client__title {
    margin-bottom: 38px;
  }
  .client__list {
    flex-wrap: wrap;
  }
  .client__item:nth-child(1) {
    margin-right: 50px;
    margin-bottom: 28px;
  }
  .client__item:nth-child(2) {
    margin-bottom: 20px;
  }
  .client__item:nth-child(3) {
    margin-right: 45px;
  }
  .client__item:nth-child(3) .client__icon {
    width: 164px;
    height: 34px;
  }
}
@media screen and (min-width: 768px) {
  .client {
    padding-top: 100px;
    padding-bottom: 16px;
  }
  .client__title {
    margin-bottom: 50px;
  }
  .client__list {
    gap: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.why-choose {
  text-align: center;
  padding-top: 24px;
  background: #F5F5F5;
}

.why-choose-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.why-choose__item {
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 32px 28px 34px;
}

.why-choose__icon {
  margin-bottom: 32px;
}

.why-chose__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}

.why-choose__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 767px) {
  .why-choose {
    padding-bottom: 61px;
  }
  .why-choose__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .why-choose {
    padding-bottom: 68px;
  }
  .why-choose__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .why-choose__item {
    width: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */