// BASE
@import "./base/variables";
@import "./base/normalize";
@import "./base/reset";
@import "./base/container";
@import "./base/background";

// VENDORS
@import "./vendors/mixin";

// COMPONENTS
@import "./components/logo";
@import "./components/navigation";
@import "./components/btn";
@import "./components/list-btn";
@import "./components/social";

// LAYOUT
@import "./layout/header";
@import "./layout/footer";
@import "./layout/join";
// index
@import "./layout/hero";
@import "./layout/for-you";
@import "./layout/services";
@import "./layout/process";
@import "./layout/strategies";
@import "./layout/price";
@import "./layout/client-say";
// customer
@import "./layout/customer/client";
@import "./layout/customer/why-choose";
@import "./layout/customer/product";
@import "./layout/customer/join-offers";
