.header {
    background: #EDEDED;

    @media screen and (max-width: 767px) {
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }
}

.header-wrapp {
    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }

    @include flex-center
}

.menu-open-btn-icon {
    stroke: var(--color-burger-menu);
}

.js-open-menu {
        background: transparent;
        border: none;
        padding: 0;
        line-height: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu {
    display: none;
    @media screen and (max-width: 767px) {
        &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: 70px;
        padding-left: 40px;
        padding-bottom: 40px;

        position: fixed;
        top: 0;
        left: 0;

        background-color: var(--color-def);
        width: 100%;
        height: 100%;
        z-index: 999;
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    
    .close-btn.js-close-menu {
            display: flex;
            justify-content: center;
            align-items: center;
    
            position: absolute;
            top: 24px;
            right: 24px;
    
            width: 31px;
            height: 31px;
    
            background: var(--background-fon);
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
    
            transition: background var(--transition);
        }
    
        .close-btn.js-close-menu:hover,
        .close-btn.js-close-menu:focus {
            background-color: var(--background-default-btn);
            border: none;
        }
}
