.strategies__title {
    @include font-text($fw: 700, $fs: 34px, $lh: 51px);
}

.strategies__text {
    @include font-text($fw: 500);
    margin-bottom: 40px;
}

.card__link {
    color: currentColor;

    transition: color var(--transition);
}

.card__img {
    border-radius: 8px 8px 0 0;
}

.card__text-wrapp {
    padding-top: 24px;
    padding-bottom: 40px;
}

.card__link:hover .card__title{
    color: var(--color-hover-link);
}

.card__text {
    @include font-text($lh: 28px);
    margin-bottom: 12px;
}

.card__title {
    @include font-text($fw: 700, $fs: 24px, $lh: 40px);
}

@media screen and (max-width: 767px) {
    .strategies__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .strategies__text {
        text-align: center;
        max-width: 338px;
    }

    .card__text-wrapp {
        padding-right: 54px;
    }

    .strategies__card {
        margin-bottom: 16px;
    }

    .strategies__next-link {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .strategies {
        margin-bottom: 10px;
    }

    .strategies__text {
        max-width: 460px;
        margin-top: 8px;
    }

    .strategies__cards {
        @include flex-center;
        gap: 30px;
        margin-bottom: 45px;
    }

    .strategies__card {
        border: 1px solid #dedede;
        border-radius: 8px;
    }

    .card__text-wrapp {
        padding-left: 24px;
        padding-right: 24px;
    }

    .strategies__next-link {
        @include flex-center;
        justify-content: center;
        gap: 10px;
    }

    .next-link__click {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        cursor: pointer;

        &:not(:nth-child(2)) {
            background-color: #EFEFEF;;
        }

        &:nth-child(2) {
            background-color: var(--background-default-btn);
        }
    }
}
