.social {
    @include flex-center;
    justify-content: center;
    gap: 40px;
}

.social-link {
    @include flex-center;
    padding: 8px;
    background-color: var(--background-fon-secondary);
    border-radius: 100px;
}

.social-icon {
    fill: transparent;
    stroke: var(--color-hover-link);

    transition: fill var(--transition), stroke var(--transition);

    // .social-link:is(:hover, :focus) & {
    //     fill: var(--color-hover-link);
    //     stroke: var(--color-def);
    // }
}

.header .social-icon {
    width: 40px;
    height: 40px;
}