// .background-wrapp {
//     // background: linear-gradient(to top, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
//     background: red;
//     background-origin: border-box;

//     @media screen and (max-width: 767px) {
//         border-radius: 0% 0% 50% 50% / 0% 0% 3% 3%;
//     }
//     @media screen and (min-width: 768px) {
//         border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
//     }
// }
