body {
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.btn {
    display: block;
    cursor: pointer;
    border: 1px solid transparent;
}

.section {
    padding-top: 100px;
}
