:root {
    --color-def: #ffffff;
    --color-logo-text: #173A56;
    --color-text: #22343D;
    --color-hover-link: #02897A;
    --color-burger-menu: #173A56;

    --background-default-btn: #02897A;
    --background-fon: #f3f3f3;
    --background-fon-secondary: #EDFFFC;

    --transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}